{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-image: url("{{ asset('images/background.webp') }}");
            background-size: auto;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
{% endblock %}

{% block body %}
<h1>TEST</h1>
{% endblock %}
